<div id="inboxtitle">Inbox</div>
<div id="message-subject" class="message-subject {{type}}">
    <div class="subject-line">{{subject}}</div>
    <div class="date-line">{{date}} {{time}}</div>
</div>

<div class="message-content">
    {{message}}
</div>
